<h1><%= title %></h1>
<p>This is a simple boilerplate for node.js express postgresql</p>
<ul>
  <li>
    Template engine used: <a href="https://ejs.co" target="_blank">EJS</a>
  </li>
  <li>
    Database ORM(object relation mapping) used:
    <a href="https://sequelize.org/master/manual/getting-started.html"
      >Sequelize</a
    >
  </li>
</ul>
<p>Create a .env file and change the DBURI with your own database URI</p>
<p>Make sure to create a database in postgresql first</p>
